*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
header{
    background-color: #020031;
}
ul{
    display: inline-block;
}
ul li{
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
 ul li a{
    text-decoration: none;
    padding: 20px 25px;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
 }
 .container{
    width: 1200px;
    margin: 0 auto;
    
 }
 .fa-search{
    margin-right: 20px;
 }
 i{
    font-size: 15px;
    color: #fff;
    cursor: pointer;
 }
 nav span{
    margin-left: 459px;
 }
 ul li:first-child{
    background-color: #f6783a;
    margin-right: -5.5px;
 }
 ul li:hover{
    background-color: #f6783a;
 }
 main{
    background-image: url(./bg-pic.png);
    height: 100vh;
    background-position: center;
 }
 main p:nth-child(1){
    font-size: 16px;
    color: #f6783a;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 30px;
 }
 main p:nth-child(2){
    color: #fff;
    font-size: 48px;
    margin-bottom: 25px;
    font-weight: 500;
 }
 main p:nth-child(3){
    color: #fff;
    font-size: 16px;
    line-height: 2;
 }
 .main-text{
    width: 750px;
    /* margin-top: 190px; */
    padding-top: 190px;
 }
 .main-text a{
    font-size: 14px;
    background-color: #f6783a;
    padding: 18px 30px;
    border-radius: 50px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 30px;
 }
 
 