.header-top{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2.7em;
    color: #666666;
}
